<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./item.css">
</head>

<body>

    <section>
        <div class="bottomFrame">
            <div class="item"><img src="../image/dairy.avif" alt="1" />
                <h5>Mother Dairy Classic</h5>
                <h6>400 g</h6>
                <div class="addBtn">
                    ₹ <br>400
                    <div class="btn">
                        <h5>ADD</h5>
                    </div>
                </div>
            </div>
            <div class="item"><img src="../image/dairy1.jpg" alt="1" />
                <h5>Nestle Milmaid Sweet</h5>
                <h6>300 g</h6>
                <div class="addBtn">
                    ₹ <br>300
                    <div class="btn">
                        <h5>ADD</h5>
                    </div>
                </div>
            </div>
            <div class="item"><img src="../image/dairy2.jpg" alt="1" />
                <h5>Table With Egg 30 piece</h5>
                <h6>300 g</h6>
                <div class="addBtn">
                    ₹ <br>190
                    <div class="btn">
                        <h5>ADD</h5>
                    </div>
                </div>
            </div>
            <div class="item"><img src="../image/dairy3.jpg" alt="1" />
                <h5>Harvest Gold Hearty Brown</h5>
                <h6>100 g</h6>
                <div class="addBtn">
                    ₹ <br>100
                    <div class="btn">
                        <h5>ADD</h5>
                    </div>
                </div>
            </div>
            <div class="item"><img src="../image/dairy4.jpg" alt="1" />
                <h5>Mothers Dairy paneer</h5>
                <h6>200 g</h6>
                <div class="addBtn">
                    ₹ <br>90
                    <div class="btn">
                        <h5>ADD</h5>
                    </div>
                </div>
            </div>
            <div class="item"><img src="../image/dairy5.jpg" alt="1" />
                <h5>Amul saulted Butter</h5>
                <h6>250 g</h6>
                <div class="addBtn">
                    ₹ <br>275
                    <div class="btn">
                        <h5>ADD</h5>
                    </div>
                </div>
            </div>
            <div class="item"><img src="../image/dairy6.jpg" alt="1" />
                <h5>Amul saulted Masti Curd</h5>
                <h6>400 g</h6>
                <div class="addBtn">
                    ₹ <br>43
                    <div class="btn">
                        <h5>ADD</h5>
                    </div>
                </div>
            </div>
            <div class="item"><img src="../image/dairy7.jpg" alt="1" />
                <h5>Harvest gold White Bread</h5>
                <h6>400 g</h6>
                <div class="addBtn">
                    ₹ <br>543
                    <div class="btn">
                        <h5>ADD</h5>
                    </div>
                </div>
            </div>


        </div>

    </section>

</body>

</html>