<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./frame.css">
</head>
<body>
    <section>
        <div class="frame">
            <img src="./image/frame.avif">
            <img src="./image/frame1.avif">
            <img src="./image/frame2.avif">
            <img src="./image/frame3.avif">
            <img src="./image/frame4.avif">
            <img src="./image/frame5.avif">

        </div>

    </section>
    
</body>
</html>